
/* CSS LAYOUT */

a{text-decoration: none !important;}
#header{background: #579442;}
body{background:#eaeaea}
ul{list-style: none;padding: 0;}
#aside{background: #f0f0f0;height: 100%;}
.wrapper-main{
	background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/*CSS HEADER*/
.site-title a{
	color:#fff;
	display: inline-block;
	font-size: 45px;
	font-weight: bold;
	text-decoration: none;
}
.wrapper-logo{padding: 25px 0 60px;}
.wrapper-nav{
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    -moz-transition: -moz-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    -o-transition: -o-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    transition: transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
}
.site-title{float: left;}
.site-description{font-size: 1em;line-height: 67px;margin-left: 20px;float: left;color: rgba(255,255,255,.5);font-style: italic;}
.box-logo{padding: .5rem 3rem;}

/* CSS MAIN */
h3.title{font-size: 16px;font-weight: 300;}
.list-post-hot li a{font-weight: 300;color: red;}
.wrapper-post-hot{
	padding:30px 30px 20px;
}
h2.title{
	color: #666;
	font-size: 16px;
	padding: 18px 30px 21px;
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
}
.post-subheading{color:#aaa}
.wrapper-main-content{margin-top: -58px;background:#fff;}
.box-content{
	padding: 30px 30px 20px;
}
.wrapper-post{border-top:1px solid #eee;}






