/* CSS LAYOUT */
a:hover{color:#4b7e37 !important;}
a{text-decoration: none !important;}
a, a:after, a:before{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
p{font-weight:300;margin-bottom: 0}
#header{background: #579442;}
body{background:#eaeaea}
ul{list-style: none;padding: 0;}
#aside{background: #f0f0f0;height: 100%;}
.wrapper-main{
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
body{font-family: 'Roboto Condensed', Arial, sans-serif;}

/*CSS HEADER*/
.site-title a{
    color:#fff;
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
}
.wrapper-logo{padding: 25px 0 60px;}
.wrapper-nav{
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    -moz-transition: -moz-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    -o-transition: -o-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    transition: transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
}
.site-title{float: left;}
.site-description{font-size: 1em;line-height: 67px;margin-left: 20px;float: left;color: rgba(255,255,255,.5);font-style: italic;}
.box-logo{padding: .5rem 3rem;}

/* CSS MAIN */
h3.title{font-size: 16px;font-weight: 300;}
.list-post-hot li a{font-weight: 300;color: red;}
.wrapper-post-hot,.wrapper-categories{
    padding:30px 30px 20px;
}
.wrapper-categories .cat-item{
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
.wrapper-categories .cat-item a{
    color: #777;
}
.wrapper-categories .cat-item a:hover{
    color: #444;
}
.wrapper-categories .cat-item a:hover:before{
    color: #999;
}
.wrapper-categories .cat-item a::before{
    content: "\f07c";
    font-family: FontAwesome;
    font-size: 12px;
    margin-right: 6px;
    color: #ccc;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
h2.title{
    color: #666;
    font-size: 16px;
    padding: 18px 30px 21px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}
.post-subheading{color:#aaa}
.wrapper-main-content{margin-top: -58px;background:#fff;}
.box-content{
    padding: 30px 30px 20px;
}
.wrapper-post{border-top:1px solid #eee;}
.post{
    position: relative;
    overflow: hidden;
}
.post-hover, .post-hover .post-thumbnail{
    webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.post-thumbnail{
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    margin-bottom: 1em;
}
.post-hover:hover .post-thumbnail{
    opacity: .75;
}
.post-comments{
    background: #efb93f;
    font-size: .75rem;
    line-height: 1.66rem;
    color: #fff;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-box-shadow: inset -1px 0 1px rgba(0,0,0,.2);
    box-shadow: inset -1px 0 1px rgba(0,0,0,.2);
}
.post-comments>span{
    display: block;
    position: relative;
    padding: 2px 7px;
}
.post-comments>span:before{
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid #efb93f;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    position: absolute;
    top: 3px;
    left: -16px;
}
.post-comments:hover{
    color: #fff!important;
    padding-right: 4px;
}
.post-comments i{
    margin-right: 3px;
}
.post-meta{
    font-size: .875em;
    font-weight: 400;
    color: #bbb;
    margin-bottom: .3em;
    text-transform: uppercase;
}
.post-meta .post-category{
    float: left;
    margin-right: 6px;
}
.post-title a,.post-category a{color: #444;}
.excerpt{font-size: 1em;color: #aaa;}
.post-list .post-title{font-size: 1.375em;}
.featured{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.post-list .post{
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.list-post-hot li{margin-bottom: 10px;}
/*PAGINATION*/
.pagination{
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.wp-pagenavi{
    font-weight: 600;
    line-height: 1.25em;
}


.wp-pagenavi a, .wp-pagenavi span{
    color: #aaa;
    font-size: 1em;
    padding: 7px 8px;
    display: inline;
    margin: 0 2px;
}
.wp-pagenavi a{
    color: #4b7e37;
}
.wp-pagenavi a{
    border: none;
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #f1f1f1;
}
.wp-pagenavi a, .wp-pagenavi span{
    color: #aaa;
    font-size: 1em;
    padding: 7px 8px;
    display: inline;
    margin: 0 2px;
}
.wp-pagenavi a:active, .wp-pagenavi a:hover, .wp-pagenavi span.current{
    border-top: 1px solid #f1f1f1;
    border-bottom: 3px solid #4b7e37;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi span.current{
    border-bottom-color: #4b7e37 !important;
}
/* CSS FOOTER */
.wrapper-footer{
    background:#33363b;

}
.address{
    color:#fff;
    font-size:14px;
    padding: 15px;
}
.social li{display:inline-block;padding: 0 3px;}
.social li a{width:40px;height:40px;line-height:40px;color:#fff;display: inline-block;text-align: center;background:#4f5e6f;border-radius: 3px;}
.social{float:right;margin: 5px 15px;}
.social ul{margin-bottom:0;}
.social li a:hover{
    color:#fff !important;
    background:#ec8608
}