/* CSS LAYOUT */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=vietnamese');

a:hover{color:#4b7e37 !important;}
a{text-decoration: none !important;}
a, a:after, a:before{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
p{font-weight:300;}
.post-date{margin-bottom:0;}
#header {
    background: url(http://localhost/dulich/admin/uploads/images/bg1.png)no-repeat;
    position: relative;
}
#header:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.28);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo a {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #fff;
}
.logo a:hover {
    color: #fff !important;
}
.logo a span {
    font-size: 40px;
}

body::-webkit-scrollbar {
    width: 10px;
} 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid #333;
}
body{background: #fff;max-width: 1920px;margin: 0 auto;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.21);}
ul{list-style: none;padding: 0;margin-bottom: 0;}
#aside{background: #fff;height: 100%;border-right: 1px solid #eee;margin: 0 15px;}
.wrapper-main{
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
}
body{font-family: 'Roboto Condensed', Arial, sans-serif;}

/*CSS HEADER*/
.site-title a{
    color:#fff;
    display: inline-block;
    font-size: 130px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.site-title {
    line-height: 1.1;
}
.wrapper-logo{min-height: 618px;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;margin-right: auto;margin-left: auto;position: relative;}
.wrapper-nav{
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
    -webkit-transition: -webkit-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    -moz-transition: -moz-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    -o-transition: -o-transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    transition: transform .35s ease-in-out,height .25s ease-in-out,background-color .45s ease-in-out;
    padding: 15px 0;
}
.navbar {
    padding: 0;
    float: right;
    margin: 10px 0;
}
.navbar-nav li.nav-item>a:hover {
    color: #fff !important;
}
.site-description{font-size: 18px;color: #fff;font-style: italic;}
.box-logo{text-align: center;}

/* CSS MAIN */
.title-side {font-size: 20px;font-weight: 500;text-transform: uppercase;margin-bottom: 15px;border-bottom: 1px solid #eee;padding: 0px 0 15px 0;}
.title-side span {position: relative;}
.title-side span:before {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    background: #000;
    position: absolute;
    bottom: -16px;
}
.list-post-hot li a{font-weight: 500;color: red;}
.list-post-hot li:before {
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 6px;
    color: red;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
.sidebar-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.wrapper-post-hot,.wrapper-categories{
    padding: 15px;
}
.wrapper-categories .cat-item{
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
.wrapper-categories .cat-item a{
    color: #333;
}
.wrapper-categories .cat-item a:hover{
    color: #444;
}
.wrapper-categories .cat-item a:hover:before{
    color: #999;
}
.wrapper-categories .cat-item a::before{
    content: "\f07c";
    font-family: FontAwesome;
    font-size: 12px;
    margin-right: 6px;
    color: #333;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
h2.title{
    color: #333;
    font-size: 20px;
    padding: 15px 0 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}
.title-home {
    text-align: center;
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
}
.title-home .post-subheading{color: #000;display: block;margin-bottom: 10px;font-size: 60px;position: relative;max-width: 300px;margin: 0 auto;}
.wrapper-main-content{/*margin-top: -58px*/background:#fff;margin-right: 15px;}
.box-content{
    padding: 15px;
}
.wrapper-post{border-top:1px solid #eee;}
.post{
    position: relative;
    overflow: hidden;
}
.post-hover, .post-hover .post-thumbnail{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.post-thumbnail{
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    margin-bottom: 1em;
    padding-top: 69%;
}
.post-hover:hover .post-thumbnail{
    opacity: .75;
}
.post-comments{
    background: #efb93f;
    font-size: .75rem;
    line-height: 1.66rem;
    color: #fff;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-box-shadow: inset -1px 0 1px rgba(0,0,0,.2);
    box-shadow: inset -1px 0 1px rgba(0,0,0,.2);
}
.post-comments>span{
    display: block;
    position: relative;
    padding: 2px 7px;
}
.post-comments>span:before{
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid #efb93f;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    position: absolute;
    top: 3px;
    left: -16px;
}
.post-comments:hover{
    color: #fff!important;
    padding-right: 4px;
}
.post-comments i{
    margin-right: 3px;
}
.post-meta{
    font-size: .875em;
    font-weight: 400;
    color: #bbb;
    margin-bottom: .3em;
    text-transform: uppercase;
}
.post-meta .post-category{
    float: left;
    margin-right: 6px;
}
.post-title a,.post-category a{color: #000;}
.excerpt{font-size: 1em;color: #333;margin-bottom: 0;}
.post-list .post-title{font-size: 20px;}
.featured{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.post-list .post{
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.list-post-hot li{margin-bottom: 10px;}
/*PAGINATION*/
.pagination{
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.wp-pagenavi{
    font-weight: 600;
    line-height: 1.25em;
}


.wp-pagenavi a, .wp-pagenavi span{
    color: #aaa;
    font-size: 1em;
    padding: 7px 8px;
    display: inline;
    margin: 0 2px;
}
.wp-pagenavi a{
    color: #4b7e37;
}
.wp-pagenavi a{
    border: none;
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #f1f1f1;
}
.wp-pagenavi a{
    color: #aaa;
    font-size: 1em;
    padding: 7px 8px;
    display: inline;
    margin: 0 2px;
}
.wp-pagenavi a:active, .wp-pagenavi a:hover, .wp-pagenavi .current{
    border-top: 1px solid #f1f1f1;
    border-bottom: 3px solid #4b7e37;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi .current{
    border-bottom-color: #4b7e37 !important;
}
/* CSS FOOTER */
.wrapper-footer{
    background:#33363b;

}
.address{
    color:#fff;
    font-size:14px;
    padding: 0;
}
.hotline{
    padding: 0px;
}
.address p{margin-bottom:0;}
.social li{display:inline-block;padding: 0 3px;}
.social li a{width:40px;height:40px;line-height:40px;color:#fff;display: inline-block;text-align: center;background:#4f5e6f;border-radius: 3px;}
.social{/* float:right; */margin: 0;}
.social ul{margin-bottom:0;}
.social li a:hover{
    color:#fff !important;
    background:#ec8608
}
.location-layout .item_wrap{margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #eee;}
.location-layout .image_wrap{width: 48%;float:left;position: relative;}
.location-layout .details_wrap{margin-left: 50%;}
.location-layout .image_wrap .location-icon{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #38414ca3;
    color: #fff;
    padding: 7px 15px;
}
.location-layout .name a{color: #000;}
.location-layout .name{font-size: 1.375em}
.location-layout .description{color: #333;font-size:1em;}
.post-thumbnail img{position:absolute;top: 0;bottom: 0;left: 0;right: 0;height: 100%;width: 100%;object-fit: cover;}
.page-title{
    background: #fff;
    position: relative;
    padding-top: 18px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 20px;
    line-height: 1.5rem;
    min-height: 59px;
}
.pad{padding: 15px 0 15px;}
.page-title .meta-single li{
    float: left;
    margin-right: 14px;
}
.page-title a{color: #333;}
.page-title .meta-single li.comments{
    float: right;
    margin-right: 0;
}
.detail-content h3{
    font-size: 25px;
    line-height: 1.3em;
    color: #333;
}
.published{
    font-size: 1em;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 1em;
    display: inline-block;
}
.comment-form{padding-bottom:15px;border-bottom:1px dashed #ddd}
.image_wrap img{max-height:215px;object-fit: cover;width: 100%;}
#digclock{color: rgba(255, 255, 255, 0.78);}
.clock.fl {
    text-align: center;
}
.detail-content img{max-width:100% !important;height:auto !important;}

/* background chạy trên chữ */
.buzz{
    background-image:  url(http://localhost/dulich/admin/uploads/images/detail-header.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #FFFFFF;
    font-size: 170px;
    animation: filling 3s ease forwards;
}
@keyframes filling {
  from{
    background-position: center 0%;
  }
  to {
    background-position: center 60%;
  }
}
/* */

.sub-header {background: url(http://localhost/dulich/admin/uploads/images/home2.jpg)no-repeat !important;background-position-y: 80% !important;}

.sub-header .wrapper-logo {
    min-height: 300px;
}
.sub-header .site-title a {
    font-size: 90px;
}

.service .box-sv .image {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}
.service .box-sv .image img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.service {
    margin: 15px 0 25px 0;
}
.service .box-sv {
    position: relative;
    margin-bottom: 15px;
}
.service .box-sv>a:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.42);
    display: block;
    position: absolute;
    z-index: 1;
}
.service .box-sv .des {
    position: absolute;
    top: 35%;
    text-align: center;
    color: #fff;
    z-index: 2;
    padding: 0 15px;
}
.service .box-sv .des h2 {
    position: relative;
    top: 30px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    /* text-transform: uppercase; */
    text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
    color: #000;
    font-family: 'Lobster', cursive;
}
.service .box-sv .des p {
    opacity: 0;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
}
.service .box-sv:hover .des p {
    opacity: 1;
}
.service .box-sv:hover .des h2 {
    top: 0;
}

.title-home .post-subheading:before, .title-home .post-subheading:after {
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    display: block;
    bottom: 30%;
    position: absolute;
}

.title-home .post-subheading:before {
    left: 0;
}

.title-home .post-subheading:after {
    right: 0;
}

.detail-content {
    margin: 0 -15px;
}

.collapse.show .mr-auto {
    background: #fff;
    position: absolute;
    width: 300px;
    right: 0;
    top: 100%;
    padding: 0 15px;
}
.collapse.show .mr-auto li a {
    color: #333 !important;
}
.wrapper-footer{padding: 25px 15px;}

.wrapper-search {
    border-bottom: 1px solid #fff;
}
.wrapper-search .social li a {
    background: none;
}
.wrapper-search .social li {
    border-right: 1px solid #8b8b8b;
}
.wrapper-search .social li:first-child {
    border-left: 1px solid #8b8b8b;
}

.login li{display:inline-block;border-right:1px solid rgba(255,255,255,.5);padding: 0px 10px 0 5px;}
.login li:last-child{border:none;}
.login li a{color: rgba(255,255,255,.5);}
.login li a:hover{color:#fff !important;}
.login {
    float: right;
    margin-top: 8px;
}

.search-form{
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
.search-form button[type="submit"]{
    background: #000;
}
.search-form .input-group input, .search-form .input-group-append {
    height: 30px;
}
.search-form .input-group-append .btn-primary {
    line-height: 15px;
    border-color: #000;
}

.image-ads {
    position: relative;
    width: 100%;
    padding-top: 200%;
    overflow: hidden;
    margin-bottom: 15px;
}
.image-ads img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-ads:hover img {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: -webkit-transform .8s cubic-bezier(.6,.23,.32,.95);
    transition: transform .8s cubic-bezier(.6,.23,.32,.95);
}

.img-fluid-left>a:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.26) url(/dulich/admin/uploads/images/h7-banner-h-img-7.png) no-repeat center;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.img-fluid-right>a:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.26) url(/dulich/admin/uploads/images/h7-banner-h-img-6.png) no-repeat center;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

/*style mobile*/
@media (max-width 480px){
    .wrapper-search .row>div:nth-child(1) {
        border-bottom: 1px solid #fff;
    }

    .wrapper-search .login {
        position: absolute;
        top: -40px;
        right: 0;
        z-index: 99;
    }

    .wrapper-search .search-form {
        float: none;
        margin: 5px 0;
    }
}

